img {
    width:400px;
}

body {
    text-align: center;
    background-image: url(https://68.media.tumblr.com/8698eec9829aa5349667f32f1849a459/tumblr_nrx2ouuS9v1ubcm85o1_500.jpg)
    
}

h1 {
    text-decoration: underline
}